@media screen and (min-width: 872px) {
  * {
    font-family: "Inter", sans-serif;
  }

  .body {
    display: flex;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
  }

  .hero {
    height: 100vh;
    width: auto;
    min-height: 500px;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    display: block;
    align-items: center;
    justify-items: center;
  }


  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
  }

  .logo {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #28352f;
    float: left;
  }

  .nav-list {
    margin: auto;
    justify-content: space-around;
    list-style: none;
    padding: 10px 10px;
    display: inline-flex;
    column-gap: 25px;
  }

  .hambuger-btn {
    display: none;
  }

  nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
    font-size: 15px;
  }

  nav ul li a:hover {
    color: green;
  }

  .hero-content {
    margin-top: -500px;
  }

  h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4c;
    margin-bottom: -15px;
  }

  h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    padding: 0.1px;
    text-align: center;
    letter-spacing: 0.37px;
    color: rgb(6, 202, 137);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .supporting-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #172b4a;
    width: 75%;
    margin: auto;
  }

  .recent-works {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
  }

  .recents-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    color: #172b4d;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 1.5rem;
    gap: 1rem 1.5rem;
    padding: 1.5em 0;
    margin: 0 1rem;
  }

  .card {
    height: 474px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(230, 228, 228);
    border-radius: 10px;
  }

  .project-img {
    background-image: url("./images/img\ placeholder.png");
    background-size: cover;
    height: 260px;
    width: 100%;
    margin-bottom: 20px;
  }

  .project-img:hover{
    transform: scale(1.3);
  }

  .text {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card h4 {
    font-size: 1rem;
    margin-top: -10px;
  }

  .tags {
    float: right;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 20px;
  }

  .tag {
    background: #ebf0ee;
    padding: 5px;
    border: 1px solid rgb(224, 224, 224);
    margin-bottom: 5px;
    color: black;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600px;
  }

  .project {
    background: #36b37f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.5s;
    margin-top: -10px;
  }

  .project:hover {
    background-color: green;
    cursor: pointer;
  }

  .socialmedia {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
    padding: 0.5rem;
    height: 50px;
  }

  .disabled {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px / 2 + 0.5px);
    bottom: 4px;
    background-color: rgb(255, 255, 255);
  }

  .about-me {
    width: auto;
    height: auto;
    position: absolute;
  }

  .about-myself {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
  }

  .about-imgs {
    position: absolute;
  }

  .img1 {
    margin-left: 130%;
    right: -97.92%;
    top: 0.09%;
    bottom: 0%;
    width: 150px;
  }

  .img2 {
    margin-left: -90%;
    right: 87.2%;
    margin-top: -74.83%;
  }

  .form-images {
    position: absolute;
  }

  .img3 {
    height: 400px;
    margin-left: 115%;
    margin-top: 15%;
  }

  .img4 {
    margin-left: 30.56%;
    right: 2.74%;
    margin-top: -180.61%;
    bottom: -70.33%;
  }

  .img5 {
    margin-left: -105.06%;
    margin-top: -200%;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-support-text {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-top: 10px;
    color: #42526e;
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
    width: 65%;
  }

  .contact-text {
    margin-top: 720px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
  }

  .social-media {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
    padding: 0.5rem;
    height: 50px;
    margin-top: 15px;
  }

  .grids {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 1.5rem;
    gap: 1rem 1.5rem;
    padding: 1.5em 0;
    margin: 0.1rem;
    justify-content: center;
  }

  .grid {
    background-color: #ebf0ee;
    height: 352px;
    width: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .txt1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .lang-title {
    margin-bottom: 120px;
  }

  .tags1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: -90px;
    gap: 8px;
    width: 271px;
    height: 40px;
    order: 1;
  }
  

  .tag1 {
    padding: 5px;
    border: 1px solid rgb(224, 224, 224);
    margin-bottom: 5px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 19px;
    font-weight: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    color: rgb(6, 202, 137);
  }

  .tags2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 60px;
  }

  .grid-image {
    height: 30px;
    width: 30px;
    background-color: white;
    border-color: 1px gray;
    padding: 10px;
    border-radius: 100px;
    margin-top: -3px;
  }

  p.content {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 150px;
    margin-right: auto;
    width: 45em;
    padding: 15px;
    margin-top: 100px;
  }

  .about-text > h2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 12px;
    position: absolute;
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
    height: auto;
  }

  .form-text {
    align-items: center;
    text-align: center;
  }

  .form-text > h2 {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: 330px;
    flex: none;
    order: 1;
  }

  ul {
    list-style: none;
  }

  form li + li {
    margin-top: 1em;
  }

  input {
    font: 1em "inter", sans-serif;
    width: 450px;
    height: 48px;
    box-sizing: border-box;
  }

  textarea {
    font: 1em "inter", sans-serif;
    width: 450px;
    box-sizing: border-box;
    border: 1px solid green;
    vertical-align: top;
    height: 114px;
  }

  input:focus:valid,
  textarea:focus:valid {
    border-color: blue;
  }

  button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: white;
    border: none;
    padding: 12px;
    background: #36b37f;
    border-radius: 4px;
    order: 3;
    margin-top: 20px;
  }

  .social-media-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
    padding: 0.5rem;
    height: 50px;
    margin-top: 400px;
    margin-bottom: -90%;
  }
}
